include build_tools/__init__.py build_tools/CheckVersion.py
include g722.h g722_codec.h g722_common.h g722_decoder.h g722_encoder.h g722_private.h
include g722_decode.c g722_encode.c python/G722_mod.c python/G722_numpy_mod.c
include python/symbols.map python/G722_numpy_api.h
